/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*START CSS STYLES*/

:root{
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --dk-blue: hsl(234, 12%, 34%);
    --gray-blue: hsl(229, 6%, 66%);
    --lt-gray: hsl(0, 0%, 98%);
}

body{
    font-size: 15px;
    font-family: 'Poppins';
    color: var(--dk-blue);
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 375px;
    padding: 15px;
}

h1{
    margin: 10px;
    font-size: 1.5rem;
    font-weight: 200;
    text-align: center;
    line-height: 125%;
}

h2{
    font-weight: 600;
    font-size: 1.25rem;
    padding: 5px 0;
}

span{
    font-weight: 600;
}

p{
    margin: 10px;
    text-align: center;
    line-height: 150%;
    font-weight: 200;
    padding-bottom: 25px;
}

.card-one{
    margin: 10px;
    line-height: 150%;
    padding: 25px;
    border-top: solid 4px var(--cyan);
    box-shadow: 10px 10px 15px rgba(84, 158, 242, 0.10);
    margin-bottom: 20px;
    border-radius: 5px;
}

.card-one img{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    width: 65px;
    height: 65px;
}

.card-two{
    margin: 10px;
    line-height: 150%;
    padding: 25px;
    border-top: solid 4px var(--red);
    box-shadow: 10px 10px 15px rgba(84, 158, 242, 0.10);
    margin-bottom: 20px;
    border-radius: 5px;
}

.card-two img{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    width: 65px;
    height: 65px;
}

.card-three{
    margin: 10px;
    line-height: 150%;
    padding: 25px;
    border-top: solid 4px var(--orange);
    box-shadow: 10px 10px 15px rgba(84, 158, 242, 0.10);
    margin-bottom: 20px;
    border-radius: 5px;
}

.card-three img{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    width: 65px;
    height: 65px;
}

.card-four{
    margin: 10px;
    line-height: 150%;
    padding: 25px;
    border-top: solid 4px var(--blue);
    box-shadow: 10px 10px 15px rgba(84, 158, 242, 0.10);
    margin-bottom: 20px;
    border-radius: 5px;
}

.card-four img{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    width: 65px;
    height: 65px;
}

.card-one p{
    text-align: left;
}

.card-two p{
    text-align: left;
}

.card-three p{
    text-align: left;
}

.card-four p{
    text-align: left;
}

.attribution {font-size: 11px; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%);}

@media  screen and (min-width: 768px) {

    body{
        width: 1080px;
        margin: auto;
    }

    h1{
        font-size: 2.5rem;
    }

    .lr-margin p{
        padding: 15px 200px;
    }

    .grid-container {
        display: grid;
        grid-template: repeat(4, 1fr) / repeat(3, 1fr);
    }

    .card-one {
        grid-area: 2 / 1 / span 2 / 1;
    }

    .card-two {
        grid-area: 1 / 2 / span 2 / 2;
    }

    .card-three {
        grid-area: 3 / 2 / span 2 / 2;
    }

    .card-four {
        grid-area: 2 / 3 / span 2 / 3;
    }
    
}